<h2>Name: {{plan.name}}</h2>
<div class="container">
  <p><b>Meal 1:</b> {{plan.meal1}}</p>
  <p><b>Meal 2:</b> {{plan.meal2}}</p>
  <p><b>Meal 3:</b> {{plan.meal3}}</p>
  <p><b>Meal 4:</b> {{plan.meal4}}</p>
  <p><b>Meal 5:</b> {{plan.meal5}}</p>
  <p><b>Meal 6:</b> {{plan.meal6}}</p>
  <p><b>Meal 7:</b> {{plan.meal7}}</p>
</div>
<button class="plan-edit-button" data-id="{{plan.id}}">Edit</button>
<button class="plan-delete-button" data-id="{{plan.id}}">Delete</button>
