<form id="meal{{meal.id}}" class="edit-meal" data-id="{{meal.id}}">
  <fieldset class="d-flex flex-column">
    <legend>Current Name: {{meal.name}}</legend>
    <div>
      <label for="meal-name">Meal Name</label>
      <input type="text" name="meal[name]" value="{{meal.name}}" required>
    </div>
    <div>
      <label for="time">Time to Make in Minutes</label>
      <input type="number" id="time" name="meal[time]" value={{meal.time}}>
    </div>
    <div>
      <label for="ingredient_list">List of Ingredients</label>
      <input type="text" id="ingredient_list" name="meal[ingredient_list]" value="{{meal.ingredient_list}}">
    </div>
    <input type="submit" value="Submit">
    <button class="meal-cancel-edit-button" data-id="meal{{meal.id}}">Cancel</button>
  </fieldset>
</form>
