<form id="plan{{plan.id}}" class="edit-plan" data-id="{{plan.id}}">
  <fieldset class="container flex-column">
    <legend>Current Name: {{plan.name}}</legend>
    <div>
      <label for="plan-name">Plan Name</label>
      <input type="text" name="plan[name]" value="{{plan.name}}" required>
    </div>
    {{#each plan.meals as |meal|}}
      <div data-index="{{listItem @index}}">
        <label for="meal{{listItem @index}}">Meal {{listItem @index}}</label>
        <input type="text" list="meals" name="plan[meal{{listItem @index}}]" value="{{meal.name}}">
      </div>
    {{/each}}
    <button class="add-meal-button" data-id="plan{{plan.id}}">Add Meal</button>
    <button class="remove-meal-button" data-id="plan{{plan.id}}">Remove Meal</button>
    </br>
    <input type="submit" value="Submit">
    <button class="plan-cancel-edit-button" data-id="plan{{plan.id}}">Cancel</button>
  </fieldset>
  <datalist id="meals">
    {{#each meals as |meal|}}
      <option value="{{meal.name}}">
    {{/each}}
  </datalist>
</form>
