<form id="edit-meal-plan{{plan.id}}">
  <fieldset class="d-flex flex-column">
    <h2>Current Name: {{plan.name}}</h2>
    <input type="text" name="meal_plan[name]" value="{{plan.name}}">
    <input type="text" name="meal_plan[meal1]" value="{{plan.meal1}}">
    <input type="text" name="meal_plan[meal2]" value="{{plan.meal2}}">
    <input type="text" name="meal_plan[meal3]" value="{{plan.meal3}}">
    <input type="text" name="meal_plan[meal4]" value="{{plan.meal4}}">
    <input type="text" name="meal_plan[meal5]" value="{{plan.meal5}}">
    <input type="text" name="meal_plan[meal6]" value="{{plan.meal6}}">
    <input type="text" name="meal_plan[meal7]" value="{{plan.meal7}}">
    <input type="submit" value="Submit">
  </fieldset>
</form>
