{{log names}}
<section id="resource-nav">
  <ul class="nav nav-pills">
    <li id="create-{{names.path}}" class="nav-item">
      <a class="nav-link">New {{names.display}}</a>
    </li>
    <li id="index-{{names.path}}" class="nav-item">
      <a class="nav-link">List {{names.display}}s</a>
    </li>
    <li id="find-{{names.path}}" class="nav-item">
      <a class="nav-link">Find {{names.display}}</a>
    </li>
  </ul>
</section>
<section id="resource-view">
</section>
<section id="new-resource-form">
</section>
