<h2>Name: {{meal.name}}</h2>
<div class="container">
  <p><b>Time to Make:</b> {{meal.time}}</p>
  <p><b>Ingredient List:</b> {{meal.ingredient_list}}</p>
</div>
<button class="meal-edit-button" data-id="{{meal.id}}">Edit</button>
<button class="meal-delete-button" data-id="{{meal.id}}">Delete</button>
